.view-btn{
    background-color: #4ade80;
    border: none;
    color: white;
    padding: 0.5rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 2px;
    cursor: pointer;
    border-radius: 22px;
}